.nav {
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0px 3px 3px gray;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: red;
}

.activeLink {
  color: red;
  font-weight: 700;
}
